:root {
	--spacing-gutter: 5px;
	--spacing-page-pad: 50px;
}

footer {
	align-items: center;
	background-color: rgba(25, 25, 25, 0.5);
	border-radius: 10px;
	display: flex;
	grid-column: 2;
	grid-row: 4;
	justify-content: center;
	text-align: center;
}

header {
	align-items: center;
	display: flex;
	grid-column: 2;
	grid-row: 1;
	justify-content: center;
	text-align: center;
}

header h2 {
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
}

section {
	grid-column: 2;
	grid-row: 3;
	text-align: center;
}

.app {
	background-color: rgba(50, 50, 50, 0.5);
	border-radius: 10px;
	column-gap: var(--spacing-gutter);
	display: grid;
	grid-template-columns:
		var(--spacing-page-pad)
		1fr
		var(--spacing-page-pad);
	grid-template-rows:
		var(--spacing-page-pad)
		var(--spacing-page-pad)
		1fr
		var(--spacing-page-pad)
		var(--spacing-page-pad);
	margin: 0;
	min-height: 400px;
	padding: 0;
	row-gap: var(--spacing-gutter);
}

.poke-container > a {
	text-transform: capitalize;
}
